@use "sass:math";
@import "src/styles/base/mixins";
@import "src/styles/variables";

$changeGridWidth: rem(500);

.main-page{

  padding: 0 rem(55);
  background: #F1F1F1;

  &__section{
    max-width: rem(1440);
    height: 100vh;

  }
}

.header{
  font-family: "Noto Serif KR";
  display: flex;
  flex-direction: column;


  &__body{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    column-gap: rem(50);
    height: 100vh;
    padding-bottom: rem(50);
  }

  &__title{
    font-weight: 700;
    font-size: rem(40);
    letter-spacing: 0.2em;
    grid-column: 1 / 3;
    margin: rem(30) 0;

    @media (max-width: $mobile) {
      grid-column: 1 / 1;
    }
  }

  &__slider{
    width: 100%;
    overflow: hidden;

    @media (max-width: $mobile) {
      grid-column: 1/3;
    }
  }

  &__menu{
    font-weight: 600;
    font-size: rem(35);
    letter-spacing: 0.1em;
    align-self: center;
    text-align: right;

    @media (max-width: $mobile) {
      grid-row: 1;
      grid-column: 2;
    }
  }
}

.menu{
  &__list{
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      background-color: $backgroundColor;
      z-index: 4;
      transition: left 0.3s ease 0s;

      .menu-open & {
        left: 0;
      }
    }
  }
}

.menu-list{
  display: flex;
  flex-direction: column;
  gap: rem(59);
}

//Burger
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
